    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        /* navbar style  --------------start------------- */
        #navbar {
            display: grid;
            grid-template-columns: 5% 10% 60% 12% 8%;
            grid-gap: 1%;
            align-items: center;
            text-align: center;
            background-color: #008ecc;
            color: white;
            padding: 13px;
        }

        #navbar>div:nth-child(2)>div:nth-child(1) {
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            font-weight: 1000;
        }

        #navbar>div:nth-child(2)>div:nth-child(2) {
            text-align: right;
            font-size: 10px;
            font-family: 'Roboto', sans-serif;
        }

        #navbar .navinnerdiv>div {
            display: inline-block;
            vertical-align: top;
        }

        #navbar .navinnerdiv>div:last-child {
            margin-top: 4px;
        }

        #navbar .navText {
            font-size: 13px;
            font-weight: 600;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        #navbar input {
            width: 90%;
            height: 38px;
            border-radius: 5px;
            border: none;
            padding-left: 10px;
        }
        #navbar .menu{
            font-size: 35px;
        }


        /* SubNav Catagories style  --------------start------------- */

        #catagNavbar .navli {
            padding: 6px;
            margin: 5px 24px;
        }
        #catagNavbar li{
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: black;
            cursor: pointer;
            background-color: #f3f3f3;
        }
        #catagNavbar{
            background-color: #f3f3f3;
        }
        #catagNavbar div{
            margin-top: 8px;
        }
        #catagNavbar div li:hover {
            background-color: white;
            cursor: pointer;
            color: #007bff;
            letter-spacing: normal;
        }
       #catagNavbar .location{
            /* width: 22px; */
            margin: 7px 0px 0px 30px;
            /* position: absolute; */
            /* left: 35px; */
            color: rgb(83, 83, 83);
        }
        #productSlide{
            width: 100%;
            height: 300px;
        }
        .divpro{
            width: 100%;
            height: 100%;
        }
        .imgpro{
            width: 100%;
            height: 100%;
        } 

        #ExploreBestsellers{  
          margin: 5% 5% 10% 5%; 
            height: 600px;
            display: grid;
            grid-template-columns: 20% 20% 20% 20%;
            grid-gap: 5%;
            justify-content: center;
        }
        .div1{
            border: 1px solid lightgrey ;
            width: 90%;
            height: 250px;
            margin: auto;
            /* background-color: rgb(241, 239, 233); */
            text-align: center;
        } 
      
        .div1:hover{
            box-shadow: 10px 5px 5px gray;
        }
        .div_img{
            width: 100%; 
            height: 50%;  
            text-align: center;
        }
        .img1 {
            width: 90%;
            height: 90%;
            margin: auto;
        }
        .img1:hover{
            width: 100%;
            height: 100%;
        }
        .div_text{
            width: 100%;
            height: 35%;
            text-align: left;
        }
        .div_text > p {
            margin: 10px;
        }
        .btn1{
            background-color:  #008ecc;
            width: 80%;
            height: 100%;
           cursor: pointer;
           border: none;
           border-radius: 3px;
           color: white;
           padding: 5px;
        }
        #highlow {
             text-align: center;
        }
        #highlow > button {
            margin: 10px;
            width: 12%;
            height: 100%;
            margin-bottom: 0;
            background-color: #dfdfdf;
            cursor: pointer;
            border: none;
            color: rgb(63, 63, 63);
            border-radius: 4px;
            padding: 5px;
        }
        #highlow > button{
            border: 1px solid white;
        }
        #highlow > button:hover{
            border: 1px solid blue;
        }
        #kidsWear h1{
            margin: 20px 40px;
            color: rgb(48, 48, 65);
        }
