   * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #EEEEEE;
        } 
        #navbar {
            cursor: pointer;
            align-items: center;
            background-color: #008ECC;
            color: white;
            padding: 13px;
        }

        #navbar>div:nth-child(1)>div:nth-child(1) {
            font-size: 30px;
            margin-left: 28px;
            font-family: 'Roboto', sans-serif;
        }

        #navbar>div:nth-child(1)>div:nth-child(2) {
            font-size: 10px;
            margin-left: 98px;
            font-weight: 800;
        }

        #paymContainer {
            display: grid;
            grid-template-columns: 65% 25%;
            margin-top: 20px;
            padding: 20px;
            grid-gap: 2%;
        }

        #paymContainer>div {
            padding: 10px;
        }

        #paysubcontiner {
            align-items: center;
            justify-content: center;
        }

        #paymContainer img {
            width: 40px;
            /* height: 20px; */
        }

        #paymContainer>div:nth-child(1)>div {
            margin-bottom: 27px;
        }

        #paymContainer>div:nth-child(1) span {
            vertical-align: top;
            margin-right: 5px;
        }

        #paymContainer input {
            margin-right: 5px;
        }

        #paymContainer .setspan {
            position: relative;
            top: 8px;
        }

        #paymContainer .setinp {
            width: 1.7em;
            height: 1.7em;
            position: relative;
            top: 4px;
        }

        #paymContainer>div {
            background-color: white;
        }

        #paymContainer #totalinfo>div {
            margin: 10px;
        }

        #addUrl {
            position: relative;
            bottom: 75px;
            left: 20px;
            margin: 4px 20px 40px;
        }

        #addUrl>input {
            height: 20px;
        }

        #addUrl>button {
            background: #008ECC;
            padding: 6px 12px;
            margin-left: 10px;
            color: white;
            border-radius: 4px;
            border: none;
        }