 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* navbar style  --------------start-------------  (VK) */
    #navbar {
        display: grid;
        grid-template-columns: 5% 10% 60% 12% 8%;
        grid-gap: 1%;
        align-items: center;
        text-align: center;
        background-color: #008ecc;
        color: white;
        padding: 13px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #navbar #searchItem {
        outline-style: none;
    }

    #navbar>div:nth-child(2)>div:nth-child(1) {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 1000;
        cursor: pointer;
    }

    #navbar>div:nth-child(2)>div:nth-child(2) {
        text-align: right;
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
    }

    #navbar .navinnerdiv>div {
        display: inline-block;
        vertical-align: top;
    }

    .navicon {
        cursor: pointer;
    }

    #navbar .navinnerdiv>div:last-child {
        margin-top: 4px;
    }

    #navbar .navText {
        font-size: 13px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    #navbar input {
        width: 90%;
        height: 38px;
        border-radius: 5px;
        border: none;
        padding-left: 10px;
    }

    #navbar .menu {
        font-size: 35px;
        cursor: pointer;
    }


    /* SubNav Catagories style  --------------start-------------  (VK) */

    #catagNavbar .navli {
        padding: 6px;
        margin: 5px 24px;
    }

    #catagNavbar li {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: black;
        cursor: pointer;
        background-color: #f3f3f3;
    }

    #catagNavbar {
        background-color: #f3f3f3;
    }

    #catagNavbar div {
        margin-top: 8px;
    }

    #catagNavbar div li:hover {
        background-color: white;
        cursor: pointer;
        color: #007bff;
        letter-spacing: normal;
    }

    #catagNavbar .location {
        /* width: 22px; */
        margin: 7px 0px 0px 30px;
        /* position: absolute; */
        /* left: 35px; */
        color: rgb(83, 83, 83);
    }

    /* -----------------catgry nav products css-------------------- (VK)*/

    .products {
        display: grid;
        grid-template-columns: 19% 19% 19% 19%;
        grid-gap: 2%;
        justify-content: center;
        margin-top: 40px;
        padding-top: 30px;
    }


    .filterButtons {
        margin: 10px 5px;
        padding: 4px 15px;
        border-radius: 5px;
        border: none;
        border: 1px solid white;
        color: #555555;
    }

    .filterButtons:hover {
        border: 1px solid blue;
        color: blue;
    }

    .difonts {
        text-align: center;
    }

    .hover {
        transform: scale(1);
        transition: 0.2s ease-in-out;
    }

    .hover:hover {
        transform: scale(1.04);
    }


    /* ---------------search page item CSS------------------ */

    .products2 {
        display: grid;
        grid-template-columns: 19% 19% 19% 19%;
        grid-gap: 2%;
        justify-content: center;
        margin-top: 16px;
        padding: 6px;
    }

    /* Top Categories style: -----------------start------------------- */

    #topCategories1 {
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        padding: 5px;

    }

    #topCategories1>.div1 {
        margin: 10px;
        text-align: center;

    }

    .img1 {
        width: 70%;
        cursor: pointer;
    }

    .img1:hover {
        width: 75%;
        box-shadow: 5px 3px 3px gray;
    }

    /* Add Banner show style:-----------------start---------------- */

    .add_banner {
        width: 100%;
        height: 200px;
    }

    .addimg {
        width: 100%;
        height: 100%;
    }

    /* Top deals style:-------------------start------------------------ */

    #topdeals2 {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 10px;
    }

    .add_banner img {
        padding: 0px 10px;
    }

    #Categories1 {
        padding: 20px 30px 10px;
    }

    #Categories1 h1 {
        margin: 0px 0px 10px 50px;
    }

    #topDeals2 {
        padding: 20px 30px 10px;
    }

    #topDeals2 h1 {
        margin: 0px 0px 10px 22px;
    }

    #womenFashion4 h1 {
        margin: 0px 0px 10px 69px;
    }

    .div2 {
        border: 1px solid lightgrey;
        width: 80%;
        height: 300px;
        margin: 10px;
        /* background-color: rgb(250, 249, 245); */
    }

    /* .div2 > p {
            margin: 10px;
        } */
    .div2:hover {
        box-shadow: 5px 3px 3px gray;
    }

    .div2_img {
        width: 100%;
        height: 50%;
        margin: auto;
        text-align: center;
    }

    .img2 {
        width: 90%;
        height: 90%;
        margin: auto;
    }

    .img2:hover {
        width: 100%;
        height: 100%;
    }

    .div2_text {
        width: 100%;
        height: 35%;
    }

    .div2_text>p {
        margin: 5px;
    }

    .btn2 {
        background-color: #008ecc;
        width: 90%;
        height: 25px;
        margin: 10px;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        color: white;
    }

    /* daily Essentials :-------------------start------------------------ */
    #dailyEssentials3 {
        margin: auto;
        width: 90%;
        height: 600px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

    }

    .div3 {
        width: 250px;
        height: 250px;
        ;
        border-radius: 10px;
        /* border: 1px solid; */
        background-color: rgb(239, 214, 218);
        text-align: center;
        margin: auto;
    }

    .div3:hover {
        box-shadow: 10px 5px 5px gray;
    }

    .img3 {
        width: 80%;
        height: 70%;
    }

    .div3_img {

        width: 200px;
        height: 200px;
        text-align: center;
        margin: auto;
    }

    .div3_img:hover {
        width: 230px;
        height: 230px
    }

    /*Women' Fashion  :-------------------start------------------------ */

    .pimg401 {
        width: 90%;
        display: flex;
        padding: 10px;
        margin: auto;
    }

    .pimg4 {
        width: 90%;
        height: 90%;
        border-radius: 10px;
    }

    .pimg4:hover {
        width: 95%;
        height: 95%;
    }

    /* Normal poster :-------------------start------------------------ */

    #poster5 {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
    }

    .div5 {
        width: 20%;
        height: 100%;
        margin: 10px;
    }

    /* -----------------------footer style start------------------ */


    .container {
        max-width: 1170px;
        margin: auto;
        height: 330px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        list-style: none;
    }

    .footer {
        background-color: #f3f3f3;
        ;
        padding: 40px 0 30px 0;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h4 {
        font-size: 15px;
        color: black;
        margin-bottom: 25px;
        font-weight: 200;
        position: relative;
        font-weight: 550;
    }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        margin-top: 8px;
        font-size: 12px;
        line-height: 5px;
        color: rgb(121, 121, 121);
        text-decoration: none;
        font-weight: 300;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
        padding-left: 8px;
    }

    .right {
        margin-left: 15%;
    }

    .right1 {
        margin-left: 10%;
    }

    .right1 a {
        text-decoration: none;
        color: #008ecc;
        font-weight: 600;
    }

    .footer-col p {
        font-size: 11px;
        line-height: 15px;
        text-decoration: none;
        font-weight: 300;
        color: rgb(121, 121, 121);
        margin-bottom: 20px;
    }

    .footer-col p span {
        color: #008ecc;
    }

    .bottom {
        display: flex;
    }

    .last {
        display: flex;
        margin: 20px 100px;
        width: 85%;
        height: 20px;
        /* padding: 0px */
    }

    .last p {
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 12px;
        color: black;
        text-decoration: none;
        font-weight: 300;
        line-height: 15px;
        float: left;

    }

    .last span {
        font-size: 12px;
        color: black;
        font-weight: 300;
        line-height: 15px;
        float: right;
        margin-left: 350px;
    }


    .footer hr {
        margin-top: 20px;
        max-width: 1250px;
    }

    #loggedIn {
        margin-top: 0px;
        font-size: large;
        color: rgb(120, 221, 120);
        
    }

    #outDiv button {
        padding: 3px;
        background: #007bff;
        color: white;
        border-radius: 5px;
        background: transparent;
    }

    #outDiv button:hover {
        color: red;
    }


    @media (min-width: 481px) and (max-width: 800px) {
        #nameLogo{
            display: none;
        }
        #navbar {
            display: grid;
            grid-template-columns: 5% 50% 22% 15%;
            grid-gap: 1%;
            align-items: center;
            text-align: center;
            background-color: #008ecc;
            color: white;
            padding: 13px;
        }    
    }

    @media (min-width: 700px) and  (max-width:900px){
        #topCategories1 {
            grid-template-columns: 33% 33% 33%;
        }  
        #Categories1 h1{
            margin: 0px 0px 10px 20px;
            font-size: 22px;
        }
    }

    @media (min-width: 0px) and  (max-width:700px){
        #topCategories1 {
            grid-template-columns: 49% 49%;
        }  
        #Categories1 h1{
            margin: 0px 0px 10px 10px;
            font-size: 22px;
        }
    }

    @media (min-width: 902px) and  (max-width:1050px){
        #topCategories1 {
            grid-template-columns: 24% 24% 24% 24%;
        }  
        #Categories1 h1{
            margin: 0px 0px 10px 30px;
            font-size: 26px;
        }
    }

    @media (min-width: 0px) and (max-width:1250px){
        #catagNavbar{
            display: none;
        }
    }